.main-menu {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background-color: dimgray;

  h1.main-title {
    font-size: calc(1.2 * var(--base-font-size));
    padding: calc(1.2 * var(--base-spacing));
    text-align: center;
    font-weight: normal;
    color: white;
    background: black;
    margin: 0 0 var(--base-spacing) 0;
  }

  a {
    display: block;
    padding: var(--base-spacing);
    border-left: 5px solid transparent;
    font-size: calc(1.4 * var(--base-font-size));
    text-decoration: none;
    color: white;

    &:hover,
    &.active {
      border-left: 5px solid white;
    }
  }
}